<header>
    <nav class="navb">
        <img src="image/Ellipse.png" class="eclipse"/>
        <div class="row2">
        
            <div class="col-2"> <button button onclick="window.location.href='/profile/<%=info._id%>'" class="nav_elements" src="image/rect.image" alt="Button Image"><p class="type">Profile</p></button></div>
            <div class="col-2"><button onclick="window.location.href='/friends'" class="nav_elements" src="image/rect.image" alt="Button Image"> <img src="image/Friends.png"/><p class="type">Friends</p></button>
            </div>
            <div class="col-2"><button onclick="window.location.href='/anch'" class="nav_elements"  alt="Button Image"><img src="image/Achievement.png"/><p class="type">Achievements</p></button></div>
            <div class="col-2"><button onclick="window.location.href='/rank'" class="nav_elements"  alt="Button Image"><img src="image/Ranking.png"/><p class="type">Ranks</p></button></div>
            <div class="col-2"><button onclick="window.location.href='/logout'" class="nav_elements"  alt="Button Image"><p class="type">LogOut</p></button></div> 
        </div>
    </nav>
</header>
