<header>
    <nav class="navb">
        <img src="image/EllipseRed.png" class="eclipse2"/>
        <div class="row2">
            <div class="col-2"><button onclick="window.location.href='/home'" class="nav_elements"  alt="Button Image"><p class="type">Home</p></button></div>
            <div class="col-2"><button onclick="window.location.href='/friends'" class="nav_elements" alt="Button Image"> <img src="/image/Friends.png" alt=""/><p class="type">Friends</p></button>
            </div>
            <div class="col-2"><button onclick="window.location.href='/anch'" class="nav_elements" ><img src="/image/Achievement.png"/><p class="type">Achievements</p></button></div>
            <div class="col-2"><button onclick="window.location.href='/rank'" class="nav_elements"><img src="/image/Ranking.png"/><p class="type">Ranks</p></button></div>
          </div>
    </nav>
</header>
