<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); %>
<body>
    <div>
        <img src="image/Rectangle2.png"/>
        <img class="icon-image1" src="image/icon-brain.png"/>
        <article>
            <p class="first_text">Quizzeria is an exciting online quiz game designed to challenge your knowledge, test your memory, and improve your cognitive skills. The game consists of various categories such as history, science, geography, art and sport.
            You can play against other players from around the world or compete with your friends and family.</p>
        </article>
    </div>
        <div>
            <h2>Login for a lifetime experience!</h2>
                <form method="POST" action="/login">
                    <div class="form-group1">
                        <label for="NameInput">Name</label>
                        <input required type="text" class="form-control" id="exampleName" name="username" placeholder="Enter your name">
                        <small  class="form-text text-muted">Be creative!</small>
                      </div>

                    <div class="form-group2">
                      <label for="exampleInputPassword1" >Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password">
                      <small class="form-text text-muted">Insert your password!</small>
                    </div>
                    <button  type="submit" class="btnbtn-primary"><p class="lettersig">Login</p></button>
                  </form>
                  <button onclick="window.location.href='/'" type="submit" class="btnbtn-secundary"><p class="letterlog">Sign </p></button>
        </div>
       
</body>
<%- include('../views/partials/footer'); %>
</html>