<!DOCTYPE html>
<html lang="en">
    <%- include('../views/partials/head'); %>
<body>
    <%- include('../views/partials/header2'); %>
    <%- include('../views/partials/part'); %>
    <div class="tab">
    <img src="image/Join.png" value="juntar" class="tablej" />
 
    <img src="image/Create.png" value="criar" class="tablec" />
    <button onclick="window.location.href='/friends'" class="joinb"><p class="textB">Join Game</p></button>
    <button onclick="window.location.href='/create'" class="createR"><p class="textB">Create Room</p></button>
    </div>
</body>
<%- include('../views/partials/footer'); %>
</html>